<!-- login.component.html -->
<!-- 
<div class="login-container">
  <h2>Login</h2>
  <form (submit)="loginUser()">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      required
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit">Login</button>
  </form>
</div> -->
<div class="main">
  <div class="login-page">
    <div class="form">
      <form class="login-form" (submit)="loginUser()">
        <input
          type="text"
          placeholder="username"
          [(ngModel)]="username"
          name="username"
          required
        />
        <input
          type="password"
          placeholder="password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button type="submit">login</button>
      </form>
    </div>
  </div>
</div>
